
/* the below code i found it on w3school
https://www.w3schools.com/howto/howto_css_login_form.asp */


  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .cancelbtn:hover{
    background-color: #888 !important;

  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0;
    position: relative;
  }
  .imgcontainer >img{
    width: 100px !important;
    height: 100px !important;

  }
  
   .container {
    padding: 10px;
  }
  
   
  /* The Modal (background) */
  .modal {
    
    display: none; /* Hidden by default */
    position: fixed !important; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    font-size: 0.8rem;
    background-color: #fefefe;
    margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  /*Sing up form*/

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
  }
  .fullname{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }